@model RockPaperScissors.Web.Models.GameResultViewModel

<h2>Rock - Paper - Scissors</h2>

@using(Html.BeginForm("PlayGame", "Home", FormMethod.Post))
{
	<fieldset>
		<div id="Player1Selection">
			<h3>Select Player 1</h3>
			<input id="Player1Human" type="radio" name="Player1" value="0" checked onclick="showOptionsForHumanPlayer()" /> You
			<input id="Player1Computer" type="radio" name="Player1" value="1" onclick="hideOptionsForHumanPlayer()" /> Computer
			<div id="OptionsForHumanPlayer">
				<h3>Hand options:</h3>
				<input type="radio" name="HandMovementOptions" value="1" checked /> ROCK
				<input type="radio" name="HandMovementOptions" value="2" /> PAPER
				<input type="radio" name="HandMovementOptions" value="3" /> SCISSORS
			</div>
		</div>

		<div id="Player2Selection">
			<h3>Select Player 2</h3>
			<input type="radio" name="Computer" value="1" checked /> Computer
		</div>

		<div id="PlayButton" style="padding: 20px;">
			<input type="submit" value="PLAY THE GAME AGAIN!!!" />
		</div>
	</fieldset>
}

<div id="Results">
	<h2>@Model.DisplayMessageWithResultOfTheGame()</h2>
</div>

<div id="ListOfTurns">
	<h3>Details of the turns played on the last game:</h3>
	<ul>
		@foreach(var message in @Model.DisplayMessageWithListOfTurnsOfTheGame())
		{
			<li>@message</li>
		}
	</ul>
</div>

<script type="text/javascript">
	function hideOptionsForHumanPlayer() {
		var divOptionsForHumanPlayer = document.getElementById("OptionsForHumanPlayer");
		divOptionsForHumanPlayer.style.display = "none";
	}

	function showOptionsForHumanPlayer() {
		var divOptionsForHumanPlayer = document.getElementById("OptionsForHumanPlayer");
		divOptionsForHumanPlayer.style.display = "block";
	}
</script>



